@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #0099ff 0%, #ff99cc 100%);
}

.background-img {
    background: url('http://prolex.themetags.com/img/hero-bg-2.jpg')no-repeat center center / cover;
}

header {
    background-image: linear-gradient(to right, rgb(1, 2, 12), rgb(2, 2, 10), rgb(15, 15, 16), rgb(6, 0, 14), rgb(14, 3, 23)) !important;
}

.background-img::before {
    position: absolute;
    content: '';
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

:root {
    --columns: 4;
    --spacing: 30px;
}

.title-cate::after {
    content: '';
    position: absolute;
    width: 100%;
    border: 1px solid #ebebeb;
    left: 0;
    top: 49%;
    z-index: -1;
}

.product {
    width: calc(calc(100%/var(--columns)) - var(--spacing));
    border: 1px solid transparent;
    position: relative;
}

.product-cate {
    width: calc(33% - 30px);
    border: 1px solid transparent;
    position: relative;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 30%;
    border: 1px solid #ebebeb;
    padding-block: 5px;
    background: white;
    display: none;
}

.product:hover .arrow-left,
.product:hover .arrow-right {
    display: block;
}

.product-cate:hover .arrow-left,
.product-cate:hover .arrow-right {
    display: block;
}

.product-cate-change {
    border: 1px solid transparent;
    width: 298px;
    height: 298px;
}

.product-cate-change:hover {
    border-color: #ebebeb;
}

.product-cate-change button.arrow-left,
.product-cate-change button.arrow-right {
    position: absolute;
    top: 50%;
    display: none;
}

.product-cate-change:hover button.arrow-left,
.product-cate-change:hover button.arrow-right {
    display: block;
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: rgba(245, 81, 81, 0.8);
    border-color: transparent;
}

.arrow-right:hover svg,
.arrow-left:hover svg {
    color: white;
}

.arrow-left {
    left: 0;
    border-left: none;
}

.arrow-right {
    right: 0;
    border-right: none;
}

.product:hover {
    border-color: #ebebeb;
}

.product-cate:hover {
    border-color: #ebebeb;
}

.count-image {
    display: none;
}

.product:hover .count-image {
    display: block;
}

.product-cate:hover .count-image {
    display: block;
}

.brand p a img {
    filter: grayscale(100%)
}

.brand p a img:hover {
    filter: grayscale(0);
}

.post-news {
    padding: 20px 10px 15px 25px;
}

blockquote {
    background: #fcfcfc url('https://donghohaitrieu.com/wp-content/themes/legenda/images/quote.png') no-repeat 10px 10px;
    min-height: 50px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.hidden-scroll::-webkit-scrollbar {
    display: none;
}

.view-grid,
.view-list-item {
    padding: 5px;
    border: 1px solid transparent;
}

#view-grid:checked+.view-grid {
    border: 1px solid rgb(233, 59, 59);
}

#view-grid:checked+.view-grid svg {
    color: rgb(233, 59, 59);
}

#view-list-item:checked+.view-list-item svg {
    color: rgb(233, 59, 59);
}

#view-list-item:checked+.view-list-item {
    border: 1px solid rgb(233, 59, 59);
}

.pt {
    padding: 7px 9px;
    border: 2px solid #2980b9;
    color: #2980b9;
    cursor: pointer;
    font-weight: 500;
}

.paginate:checked+label {
    border-color: #2980b9;
    color: white;
    background-color: #2980b9;
}

input[type='range'] {
    width: 210px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
}

input[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: #003D7C;
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track {
    background: none;
}

input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid #003D7C;
    border-radius: 25px;
    z-index: 1;
}

input[type='range']:nth-child(1)::-webkit-slider-thumb {
    z-index: 2;
}

.rangeslider {
    position: relative;
    height: 60px;
    width: 210px;
    display: inline-block;
    margin-top: -5px;
    margin-left: 20px;
}

.rangeslider input {
    position: absolute;
}

.rangeslider {
    position: absolute;
}

.rangeslider span {
    position: absolute;
    margin-top: 30px;
    left: 0;
}

.rangeslider .right {
    position: relative;
    float: right;
    margin-right: -5px;
}